@media (max-width: 375px) {
   
    #card{
        display: block;
        height: 100%;
        width: 100%;
        overflow: scroll;
        padding: 0px;
        border-radius: 0px;
    }
    #logo{
        padding: 0px;
        overflow: hidden;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    #info{
        padding-left: 8px;
    }
    #email{
        padding-right: 0px;
        width: 90%;
    }
    #subscribe{
        width: 95%;
        margin-bottom: 8px;
    }
    #succes{
        display: none;
        height: 100%;
        overflow: scroll;
        padding: 0px;
        border-radius: 0px;
    }    
}