
body{
    position: relative;
    width: 1440px;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    font-family: Poppins;
}
#card{
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    height: 66%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px 16px 160px 16px;
    overflow: hidden;
}
.form{
    display: flex;
    
}
.time{
    margin-top: 32px;
    margin-left: 32px;
    
    display: flex;
    flex-direction: column;
 
}
#border{
    display: flex;
    justify-content: center;
    gap: 0px;
}
input{
    font-size: large;
    font-weight:900;
    color:hsl(0, 0%, 86%);
    width: 70px;
    height: 32px;
    padding: 8px 32px 8px 8px;
   
}
label{
    font-size: x-small;
    font-weight:900;
    color:hsl(0, 0%, 86%);
   
    
}
.fa-solid{
    font-size: 80px;
    color: hsl(259, 100%, 65%);
}
.line{
    width: 80%;
    height: 47px;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    
    }
#result{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    font-size: 80px;
    margin-left: 32px;
    gap: 24px;
}
#num{

    font-weight: bold;
    color: hsl(259, 100%, 65%);
}
p{
    margin: 0px;
}
#text{
    font-weight: bold;
}
#a{
    color: hsl(0, 100%, 67%);
    display: none;
    font-size: 11px;
}
#b{
    color: hsl(0, 100%, 67%);
    display: none;
    font-size: 11px;
}
#c{
    color: hsl(0, 100%, 67%);
    display: none;
    font-size: 11px;
}
#invalid{
    color: hsl(0, 100%, 67%);
    display: none;
    font-size: 11px;
    margin-left: 32px;
}